@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #006648;
  border-radius: 10px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  color: #006648;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  margin-bottom: 1rem;
}

#chat-box {
  width: 90%;
  height: 50vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
  border-radius: 5px;
}

#chat-box p {
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.inputs {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

#chat-input {
  width: 70%;
  padding: 0.5rem;
  border: 1px solid #006648;
  border-radius: 5px;
  margin-right: 10px;
}

#send-button {
  padding: 0.6rem 1rem;
  background-color: #006648;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
